* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --body-width: 80%;

  .btn {
    line-height: 3;
    background-color: var(--light-blue);
    border-radius: 12px;
    text-decoration: none;
    color: var(--medium-dark-blue);
    padding: 0.9rem;
    transition: scale 0.3s ease-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      filter: hue-rotate(18deg);
    }
  }
}

html.dark {
  --background: #001E43;
  --text-gray: #ccd1e4;
  --text-white: #fff;
  --light-blue: #39BAF1;
  --color-btn-hover: #39BAF1;
  --medium-dark-blue: #012859;
  --nav-background: rgb(0 30 67 / 60%);
  --paralucent: 'lato',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

html.light {

}

@mixin underlineLink {
  transition: background-color .3s ease-out, background-size .3s ease-out, border-color .3s ease-out, color .3s ease-out;
  background-image: linear-gradient(var(--light-blue), var(--light-blue));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 .15rem;
}

@mixin underlineLinkHover {
  color: var(--text-white);
  background-size: 100% .15rem;
}

@mixin heading {
  text-align: center;
  font-weight: 500;
  font-size: calc(1.3rem + 4vw);
}

.call-out {
  background: #00295D;
  border-radius: 2rem;
  margin: 6rem -5%;
  padding: calc(0.2rem + 5vw);
  display: flex;
}

@mixin contact-section {
  .contact-section {
    flex-direction: column;
    align-items: center;

    span {
      color: var(--text-gray);
      font-weight: 300;
      font-size: calc(1.1rem + 4*(100vw - 30rem)/800);
      text-align: center;
      width: 90%;
      max-width: 25rem;
      line-height: 1.4;
      margin-bottom: calc(0.5rem + 2vw);
    }

    h3 {
      @include heading;
    }

    .contact-buttons {
      margin-top: calc(2rem + 2vw);
      display: flex;
      align-items: center;
      justify-content: center;
      // gap: 10%;
      width: 100%;

      .contact-button {
        background: none;
        border: 1px solid var(--light-blue);
        border-radius: 100%;
        width: calc(3rem + 2vw);
        height: calc(3rem + 2vw);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s ease-out;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 5%;
        }

        &:hover {
          background: var(--light-blue);

          img {
            filter: invert(90%) sepia(51%) saturate(2878%) hue-rotate(176deg) brightness(104%) contrast(97%);
          }
        }

        img {
          height: 45%;
        }
      }

    }
  }
}

@mixin tech-section {
  .tech-section {
    h3 {
      @include heading;
    }

    .tech-logos {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0 5%;
      flex-wrap: wrap;
      margin-top: 3rem;

      img {
        opacity: 0.6;
        flex-shrink: 2;
        height: calc(1rem + 5vw);
        max-height: 4rem;
        margin: 0.8rem 0;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}

.page {
  width: var(--body-width);
  max-width: 1020px;
  margin: auto;
  padding-top: calc(6.5rem + 8vh);
}

html {
  background-color: var(--background);
  font-family: var(--paralucent);
  color: var(--text-white);
  font-weight: 300;
  font-size: 1.2rem;

  &::-webkit-scrollbar {
    height: 1.5rem;
    width: 0.7rem;
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--medium-dark-blue);
    border-radius: 1.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  body {
    overflow-x: hidden;
    position: relative;

    header {
      width: 100%;
      padding: 1.3rem 5%;

      .header-wrapper {
        width: 100%;
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;

        .logo {
          width: 20%;

          img {
            width: 100%;
            max-width: 250px;
            min-width: 180px;
          }
        }
        nav {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: var(--text-gray);
          font-size: 1rem;

          span {
            &:not(:last-child) {
              margin-right: min(3rem, 3vw);
              color: var(--text-gray);

              a {
                text-decoration: none;
                color: inherit;
                transition: background-color .3s ease-out, background-size .3s ease-out, border-color .3s ease-out, color .3s ease-out;
                background-image: linear-gradient(var(--light-blue), var(--light-blue));
                background-position: 0 100%;
                background-repeat: no-repeat;
                background-size: 0 .15rem;

                &:hover {
                  color: var(--text-white);
                  background-size: 100% .15rem;
                }
              }
            }

            button {
              background: transparent;
              border: none;
              opacity: 0.7;
              transition: opacity .2s ease-out;
              cursor: pointer;

              &:focus {
                outline: none;
              }

              &:hover {
                opacity: 1;
              }

              img {
                width: 1rem;
              }
            }
          }
        }
      }

      

      
    }

    .home-page {

      .hero {

        h3 {
          font-weight: 400;
          font-size: calc(2.2rem + 4vw);
          line-height: 1.1;
          color: var(--text-white);
        }

        h5 {
          color: var(--text-gray);
          font-size: calc(1.2rem + 8*(100vw)/1000);
          margin-top: calc(1rem + 1vh);
          font-weight: 300;
        }
      }

      .projects-row {
        width: 100%;
        margin: 7rem 0 2.8rem;
        display: flex;
        z-index: 1;
        flex-wrap: wrap;
        gap: 15%;

        .single-project {
          display: flex;
          margin-top: 2rem;
          flex-grow: 1;
          justify-content: space-around;
          width: max(9rem, 10vw);
          min-width: 17rem;
          max-width: 25rem;

          &:not(:last-child) {
            // margin-right: calc(2rem + 10vw);
          }

          .details {
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: flex-start;
            justify-content: flex-start;

            .logo {
              height: 4rem;
              // width: calc(5rem + 2*(100vw - 20rem)/500);

              &.readastic {
                // margin-left: -2rem;
              }

              &.quiz-app {
                width: calc(5rem + 10vw);
              }
            }

            .description {
              font-size: 1.4rem;
              margin-top: calc(1.5rem + 2*(100vw - 20rem)/500);
              font-weight: 300;
              // width: calc(9rem + 3vw);
            }

            .link-row {
              margin-top: calc(1.1rem + 2*(100vw - 20rem)/500);

              .link-button {

                &:hover {
                  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(176deg) brightness(104%) contrast(97%);
                }

                &:not(:last-child) {
                  margin-right: 1.5rem;
                }

                img {
                  width: 1.5rem;
                }
              }
            }
          }

          .picture {
            width: calc(7rem + 2*(100vw - 20rem)/500);
            object-fit: contain;
            margin-left: calc(0.2rem + 1vw);
          }
        }
      }

      .about-section {
        display: flex;
        background: #00295D;
        border-radius: 2rem;
        margin: 6rem -5%;
        padding: 6%;
        gap: 7%;


        .details {
          width: 60%;

          h3 {
          font-weight: 500;
          font-size: calc(2.5rem + 15*(100vw - 20rem)/800);
          margin-bottom: 1rem;
          }

          p {
            font-size: calc(0.7rem + 1vw);
            line-height: 1.4;
            font-weight: 300;
            margin-bottom: calc(0.3rem + 3vw);
            color: var(--text-gray);
          }
        }

        .pic {
          border-radius: 1.05rem;

          img {
            height: 100%;
            width: 100%;
            border-radius: 23px;
            object-fit: cover;
          }
        }
      }

      @include tech-section;

      @include contact-section;
    }

    .about-page {
      @include contact-section;
      @include tech-section;

      .hero {
        width: 110%;
        position: relative;
        z-index: -1;
        margin: -2rem -5% 5rem;
        margin-bottom: calc(3.5rem + 3vw);

        &::before {
          background: linear-gradient(180deg,rgba(0,30,67,0) 0,rgba(0,30,67,.013) 8.1%,rgba(0,30,67,.049) 15.5%,rgba(0,30,67,.104) 22.5%,rgba(0,30,67,.175) 29%,rgba(0,30,67,.259) 35.3%,rgba(0,30,67,.352) 41.2%,rgba(0,30,67,.45) 47.1%,rgba(0,30,67,.55) 52.9%,rgba(0,30,67,.648) 58.8%,rgba(0,30,67,.741) 64.7%,rgba(0,30,67,.825) 71%,rgba(0,30,67,.896) 77.5%,rgba(0,30,67,.951) 84.5%,rgba(0,30,67,.987) 91.9%,#001E43);
          content: '';
          height: 50%;
          left: 0;
          position: absolute;
          width: 100%;
          bottom: 0;
        }

        img {
          width: 100%;
          height: calc(18rem + 20vw);
          object-fit: cover;
          object-position: top center;
          border-radius: 2rem;
          z-index: -1;
          position: relative;
        }

        h3 {
          position: absolute;
          font-size: calc(3rem + 10vw);
          bottom: calc(-3.5rem - 4vw);
          left: 5%;
          font-weight: 400;
        }
      }

      .about-text {
        margin-bottom: calc(3rem + 3vw);

        h5 {
          color: var(--text-white);
          font-size: calc(0.9rem + 8*(100vw)/500);
          font-weight: 300;
          margin-bottom: calc(1rem + 3vw);
        }

        .bio-text {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
          gap: 0 5%;
          width: 100%;
          justify-items: stretch;
          flex-wrap: wrap;
          justify-content: space-between;
          color: var(--text-gray);
          margin-bottom: calc(0.5rem + 2vw);

          span {

            p {
              font-size: calc(1.15rem + 3*(100vw - 30rem)/800);
              font-weight: 300;
              line-height: 1.55;
              margin-bottom: 1.5rem;
            }
          }
        }

        .resume-btn {

          img {
            vertical-align: middle;
            width: 1rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  html {
    body {

      .home-page {
        .about-section {
          flex-direction: column-reverse;

          .details {
            width: 100%;
          }

          .pic {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {

  html {
    body {
      header {
        left: 0;
        position: inherit;
        top: 0;
        width: 100%;
        transform: none;
        backdrop-filter: none;

        nav {
          // background-color: var(--medium-dark-blue);
          -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
          bottom: 0;
          left: 0;
          overflow: auto;
          padding: .75rem 7%;
          position: fixed;
          width: 100%;
          justify-content: flex-start;

          span {
            &:not(:last-child) {
              margin-right: 1.5rem;
            }
          }
        }
      }
      
      .page {
        // padding-top: calc(1rem + 4vh);
      }
    }
  }
}

